<input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
<table class="bordered" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="index">Index</th>
      <th mat-sort-header="articleNumber">Article Number</th>
      <th mat-sort-header="description">Description</th>
      <th mat-sort-header="batch">Batch</th>
      <th mat-sort-header="variant">Variant</th>
      <th mat-sort-header="weight">Weight (kg)</th>
      <th mat-sort-header="location">Location</th>
      <th mat-sort-header="pid">PID</th>
      <th mat-sort-header="quantity">Quantity</th>
      <th mat-sort-header="storingDate">Storing Date</th>
    </tr>
  
    <tr *ngFor="let data of sortedData | search: searchText">
      <td>{{data.index}}</td>
      <td>{{data.articleNumber}}</td>
      <td>{{data.description}}</td>
      <td>{{data.batch}}</td>
      <td>{{data.variant}}</td>
      <td>{{data.weight}}</td>
      <td>{{data.location}}</td>
      <td>{{data.pid}}</td>
      <td>{{data.quantity}}</td>
      <td>{{data.storingDate}}</td>
    </tr>
  </table>

<br><br>

<table>
  <tr>
    <td>Article Number:</td>
    <td><input type="text" [(ngModel)]="articleNumber"></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type="text" [(ngModel)]="description"></td>
  </tr>
  <tr>
    <td>Batch:</td>
    <td><input type="text" [(ngModel)]="batch"></td>
  </tr>
  <tr>
    <td>Variant:</td>
    <td><input type="text" [(ngModel)]="variant"></td>
  </tr>
  <tr>
    <td>Weight:</td>
    <td><input type="text" [(ngModel)]="weight"></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><input type="text" [(ngModel)]="location"></td>
  </tr>
  <tr>
    <td>PID:</td>
    <td><input type="text" [(ngModel)]="pid"></td>
  </tr>
  <tr>
    <td>Quantity:</td>
    <td><input type="text" [(ngModel)]="quantity"></td>
  </tr>
  <tr>
    <td>Storing Date:</td>
    <td><input type="text" [(ngModel)]="storingDate"></td>
  </tr>
</table>

<button id="save" (click)="addItem(articleNumber, description, batch, variant, weight, location, pid, quantity, storingDate)"> Add </button>
<button (click)="startRecognition()">Start Recognition</button>

