<h1>Stock information</h1>
            <p>You are viewing the stock information</p>
            <body>
                <table class="table table-sortable">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Articlenumber</th>                            
                            <th>Description</th>                            
                            <th>Batch</th>                            
                            <th>Variant</th>                            
                            <th>Weight(kg)</th>                            
                            <th>Location</th>                            
                            <th>PID</th>                            
                            <th>Quantity</th>                            
                            <th>Storing Date</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>202028</td>
                            <td>Taschenrechner</td>
                            <td>24685</td>
                            <td>rot</td>
                            <td>0.03</td>
                            <td>BEW</td>
                            <td>201910</td>
                            <td>1</td>
                            <td>19.10.2022</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>202023</td>
                            <td>Kugelschreiber</td>
                            <td>24685</td>
                            <td>rot</td>
                            <td>0.001</td>
                            <td>BVE</td>
                            <td>9000113</td>
                            <td>2</td>
                            <td>19.10.2022</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>202016</td>
                            <td>Warnschild</td>
                            <td>24685</td>
                            <td>blau</td>
                            <td>0.31</td>
                            <td>BVE</td>
                            <td>9000114</td>
                            <td>1</td>
                            <td>18.10.2022</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>202018</td>
                            <td>Grillkoffer</td>
                            <td>87495</td>
                            <td>gelb</td>
                            <td>2.91</td>
                            <td>FBL020101</td>
                            <td>201587</td>
                            <td>3</td>
                            <td>19.10.2022</td>
                        </tr>
                    </tbody>
                </table>
            </body>